/* -------------------------------- */
* { 
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}
/* ¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬ */
/* ---------------------header- */
header {
    background-color: blue;
    padding: 20px 20px 20px 10px
}

/* ---------------------aside- */
aside {
    width: 30%;
    float: left;
    background-color: #888;
}

/* -----------------------main- */
main {
    background-color: #eee;
    width: 70%;
    float: right;
}
/* ¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬ */

/* --H1-- */
h1 {
    text-align: center;
    font-size: 25px;
    color: black;
    padding: 10px 10px 10px 10px
}

/* --H2-- */
h2 {
    text-align: center;
    font-size: 17px;
    color: black;
    padding: 10px 10px 10px 10px
}

/* ¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬ */

/* --------------------article- */
article {
    margin: 20px;
    width: 20%;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    color: rgb(255, 115, 0);
    padding: 10px 0px 10px 0px
    /* Topo, Direita, Baixo, Esquerda */
}

/* ---------------------footer- */
footer {
    width: 100%;
    float: inline-end;
    text-align: center;
    background-color: rgb(110, 109, 109);
    padding: 25px;
    /* Topo, Direita, Baixo, Esquerda */
}

/* ¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬ */